
name: Test Hello
on: 
   - push
   - pull_request
jobs:
  test-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run tests
        run: bash ./hello_test.sh
